<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.signal.engine.forward</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/harshv.singh/signal-engine/scripts/forward_loop.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/harshv.singh/signal-engine</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>17</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/harshv.singh/signal-engine/data/launchd_out.log</string>
    <key>StandardErrorPath</key>
        <string>/Users/harshv.singh/signal-engine/data/launchd_err.log</string>
</dict>
</plist>
